<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fibonacci_series_calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Fibonacci_series_calculator.Properties.Settings>
            <setting name="Fibonacci_series_calculator_testweb1_Service1"
                serializeAs="String">
                <value>http://localhost:52128/Service1.asmx</value>
            </setting>
        </Fibonacci_series_calculator.Properties.Settings>
    </applicationSettings>
</configuration>